@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #2F2F51;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.product_header {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.625rem;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}

body {
  background-color: #F2F2F2;
  position: relative;
}

#nav {
  background: #ffffff;
  height: 100px;
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand img {
  max-width: 90px;
  margin-right: 45px;
}

.navbar .navbar-toggler {
  background-color: #EF7F04;
}

@media (min-width: 1200px) {
  .navbar .navbar-nav {
    margin-right: 3.75rem;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .navbar-nav .nav-item .nav-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #EF7F04 !important;
  border-top: 4px solid #EF7F04;
}

@media (max-width: 1999px) {
  .navbar .navbar-nav .nav-item {
    line-height: 2.5rem;
  }
}

.navbar .navbar-nav .nav-item .active {
  color: #EF7F04 !important;
  border-top: 4px solid #EF7F04 !important;
}

.navbar .modal_buttons img {
  margin-right: 13px;
}

.btn {
  color: #fff;
  background-color: #EF7F04;
  font-size: 18px;
  border: none;
}

.btn__hover:hover {
  color: #fff;
  background-color: #3B3A63;
}

.btn__reverse {
  color: #fff;
  background-color: #3B3A63;
}

.btn__reverse:hover {
  color: #fff;
  background-color: #EF7F04;
}

.btn__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 15px;
  padding: 0.75rem 1.375rem;
}

@media (max-width: 1199px) {
  .btn__nav {
    line-height: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0%;
  }
}

@media (min-width: 1200px) {
  .btn:first-child {
    margin-right: 0.875rem;
  }
}

#banner {
  background: url(img/banner.png) no-repeat top;
  background-size: cover;
  overflow: hidden;
}

@media (min-width: 992px) {
  #banner .banner__header {
    margin-left: 4.375rem;
  }
}

#banner .banner__header__text {
  margin: 0 auto 1.125rem 1rem;
}

#banner .banner__header__text h1 {
  color: #EF7F04;
}

#banner .banner__header__text .header_text {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.625rem;
  font-weight: 100;
}

#banner .banner__header .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  #banner .banner__header .feature {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

#banner .banner__header .feature p {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) {
  #banner .banner__header .feature p {
    text-align: left;
  }
}

#banner .header__form {
  position: relative;
  max-width: 405px;
  border-radius: 10px;
  padding: 43px 43px 66px;
  margin: 69px 0 65px;
  background-color: #fff;
}

#banner .header__form p {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
}

#banner .header__form form input {
  padding: 0.75rem 1rem;
  background: #e2e2e2;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
}

#banner .header__form form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

#banner .header__form form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

#banner .header__form form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

#banner .header__form form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}

#banner .header__form form .label {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
}

#banner .header__form form .label .checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#banner .header__form form .label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: #e2e2e2;
  border-radius: 3px;
}

#banner .header__form form .label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#banner .header__form form .label input:checked ~ .checkmark:after {
  display: block;
}

#banner .header__form form .label .checkmark:after {
  content: url(img/check.svg);
  left: 6px;
  bottom: 6px;
  width: 20px;
  height: 21px;
}

#banner .header__form form input[type="submit"] {
  max-width: 200px;
  color: #fff;
  background-color: #EF7F04;
  padding: 19.25px 40px;
  margin-bottom: 0;
}

#banner .header__form img {
  position: absolute;
  left: -5px;
  bottom: -10px;
}

#our_services {
  padding-top: 4.25rem;
}

#our_services .our_services_header {
  margin-bottom: 3rem;
}

#our_services .frow {
  margin-bottom: 10.25px;
}

#our_services .serviceCard {
  position: relative;
  height: 100%;
  padding: 3.5rem 3.125rem 2rem;
  margin-bottom: 0.625rem;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our_services .serviceCard:hover {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

#our_services .serviceCard:hover .btn_service svg {
  stroke: #EF7F04;
}

#our_services .serviceCard .serviceCard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#our_services .serviceCard .serviceCard__header .h2 {
  margin-left: 1.25rem;
}

#our_services .serviceCard__1 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(img/service1.png) no-repeat center;
  background-size: cover;
}

#our_services .serviceCard__2 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(img/service2.png) no-repeat center;
  background-size: cover;
}

#our_services .serviceCard__3 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(img/service3.png) no-repeat center;
  background-size: cover;
}

#our_services .serviceCard__4 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(img/service4.png) no-repeat center;
  background-size: cover;
}

#our_services .serviceCard .btn_service {
  position: absolute;
  bottom: 27px;
  right: 29px;
  border: none;
  background: transparent;
  stroke: #fff;
}

#products {
  padding-top: 6.5rem;
}

#products .pills {
  margin-bottom: 1.75rem;
}

#products .pills .nav-link {
  padding: 8px 25px;
  font-size: 18px;
  color: #000;
  border: none;
}

#products .pills .active {
  background-color: #EF7F04;
  color: #fff;
  border-radius: 3px;
}

#products .tab-content {
  margin-bottom: 3.375rem;
}

#products .tab-content .tab-pane {
  background: #fff;
}

#products .tab-content .splide__arrow--prev {
  left: -3rem;
}

@media screen and (max-width: 1400px) {
  #products .tab-content .splide__arrow--prev {
    left: -2rem;
  }
}

@media screen and (max-width: 1200px) {
  #products .tab-content .splide__arrow--prev {
    left: -1rem;
  }
}

@media screen and (max-width: 575px) {
  #products .tab-content .splide__arrow--prev {
    left: 0rem;
  }
}

#products .tab-content .splide__arrow--next {
  right: -3rem;
}

@media screen and (max-width: 1400px) {
  #products .tab-content .splide__arrow--next {
    right: -2rem;
  }
}

@media screen and (max-width: 1200px) {
  #products .tab-content .splide__arrow--next {
    right: -1rem;
  }
}

@media screen and (max-width: 575px) {
  #products .tab-content .splide__arrow--next {
    right: 0rem;
  }
}

#products .splide__slide img {
  width: 100%;
}

#products .product_text {
  padding: 1.375rem 2.125rem 0;
}

#products .product_text h3 {
  color: #EF7F04;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

#products .product_text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 2.625rem;
}

#products .product_text ul {
  padding-left: 0;
}

#products .product_text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

#products .product_text ul li p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

#products .product_text ul li p:last-child {
  width: 110px;
}

#products .product_text ul li .dotted {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 18px;
  border-bottom: 2px dotted gray;
}

.schtandart {
  padding: 2.25rem 5.125rem 5.5rem;
  background: url(img/schtandart.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 576px) {
  .schtandart {
    padding: 1rem;
  }
}

.schtandart .schtandart_logo {
  max-width: 305px;
  margin-bottom: 3.375rem;
}

@media (max-width: 576px) {
  .schtandart .schtandart_logo {
    max-width: 200px;
  }
}

.schtandart .shtandart_waranty .waranty {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.schtandart .shtandart_waranty .waranty img {
  display: block;
  margin: auto;
}

.schtandart .shtandart_waranty .waranty p {
  color: #fff;
  margin-top: 3rem;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.schtandart__button {
  margin-top: 3.5rem;
}

#about_us {
  padding-top: 6rem;
  padding-bottom: 5.5rem;
}

#about_us .about_us__pills .video {
  max-width: 595px;
}

#about_us .about_us__pills .nav-link {
  color: #000;
  background: none;
}

#about_us .about_us__pills .nav-pills .nav-link.active,
#about_us .about_us__pills .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #EF7F04;
}

#about_us .about_us__pills .nav-pills {
  margin: 2rem auto 1.5rem;
}

@media (min-width: 768px) {
  #about_us .about_us__pills .nav-pills {
    width: 50%;
  }
}

#about_us .about_us__pills .tab-pane {
  height: 460px;
}

#about_us #pills-description {
  margin-bottom: 5.375rem;
}

#about_us #pills-description .logo {
  margin-top: 45px;
  margin-left: 50px;
}

#about_us #pills-description .about_text {
  line-height: 1.375rem;
  max-width: 305px;
  margin: 3.875rem 3.25rem 0 auto;
}

#about_us #pills-description .play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  background: transparent;
}

#about_us #pills-howWeWork {
  padding: 4.25rem 4rem;
}

#about_us #pills-howWeWork .how_we_work {
  padding-top: 75px;
  background: #fff;
}

#about_us #pills-howWeWork .how_we_work__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_us #pills-howWeWork .how_we_work__feature h3 {
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

#about_us #pills-howWeWork .how_we_work__feature p {
  text-align: center;
  line-height: 26px;
}

#about_us #pills-feedback p {
  margin-bottom: 0;
}

#about_us #pills-feedback .feedback {
  padding: 3.875rem 6.375rem 7.125rem;
}

#about_us #pills-feedback .feedback__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

#about_us #pills-feedback .feedback__heading .userName {
  font-size: 18px;
  font-weight: 700;
  margin-right: 3.75rem;
}

#about_us #pills-feedback .feedback__heading .feedback__date {
  margin-right: 20px;
}

#about_us #pills-feedback .feedback__heading .feedback_gray {
  font-size: 14px;
  line-height: 16px;
  color: #8f8f8f;
}

#about_us #pills-feedback .send_feedback {
  position: absolute;
  top: 3.5rem;
  right: 6.25rem;
  padding: 1.125rem 1.75rem 1.125rem 1.25rem;
  font-weight: 700;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#about_us #pills-feedback .send_feedback img {
  margin-right: 1.125rem;
}

#about_us #pills-certificate .splide {
  margin: 0 2.375rem;
  padding: 6rem 4rem;
}

#about_us #pills-certificate .splide .splide__arrow--prev {
  left: 0;
}

#about_us #pills-certificate .splide .splide__arrow--next {
  right: 0;
}

#about_us .features_list {
  min-height: 450px;
  padding: 70px 40px 85px;
}

#about_us .features_list .feature_image {
  max-width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about_us .features_list .feature_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about_us .features_list .feature_item img {
  margin-right: 1.5rem;
}

#about_us .features_list .feature_item__text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2rem;
}

#about_us .features_list .feature_item__text p {
  line-height: 26px;
}

#about_us .btn {
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  padding: 1.125rem 2rem 1.125rem 1.75rem;
}

#portfolio .container {
  padding: 3rem 0 0;
  margin-bottom: 5rem;
}

#portfolio .container .splide {
  margin: 0 2rem;
  padding: 3rem;
}

#portfolio .container .splide .splide__arrow--prev {
  left: 0;
}

#portfolio .container .splide .splide__arrow--next {
  right: 0;
}

#portfolio .container .splide .splide__slide:hover {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

#portfolio iframe {
  width: 100%;
  height: 300px;
}

#faq .container {
  padding: 2.5rem 6.25rem 4rem;
  margin-bottom: 5.375rem;
  background: #EF7F04;
}

#faq .container .accordion-item {
  border-radius: 3px;
  border: none;
  margin-bottom: 0.875rem;
}

#faq .container .accordion-item:last-child {
  margin-bottom: 0;
}

#faq .container .accordion-item .accordion-button {
  background: #eeeef3;
}

#faq .container .accordion-item .accordion-button:not(.collapsed) {
  color: #2F2F51;
  background: #fff;
}

#faq .container .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2F2F51'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#faq .container .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#faq .container .accordion-item:hover .accordion-button {
  color: #EF7F04;
  background: #fff;
}

#faq .container .accordion-item:hover .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

#faq .container .accordion-item:hover .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23EF7F04'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#contacts .row {
  padding-top: 3.75rem;
}

#contacts .row .form {
  max-width: 510px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  padding: 3.5rem 3.75rem 3.125rem;
}

#contacts .contacts_left {
  position: relative;
  padding-left: 3.125rem;
  padding-bottom: 7.5rem;
}

#contacts .contacts_left p {
  margin: 0;
}

#contacts .contacts_left .tels p {
  margin: 0;
  font-size: 1.375rem;
  line-height: 2.25;
}

#contacts .contacts_left .location {
  margin-bottom: 0.75rem;
}

#contacts .contacts_left .contacts_text {
  margin-top: 3.875rem;
  max-width: 230px;
}

#contacts .contacts_left .socials {
  margin-top: 1.75rem;
  width: 200px;
}

#contacts .contacts_left .socials a:hover svg {
  stroke: #2F2F51;
}

#contacts .contacts_left .socials svg {
  stroke: #EF7F04;
}

#contacts .contacts_left .contacts_image {
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: -4.5rem;
}

.splide__arrow {
  background: none;
}

.splide__arrow svg {
  fill: none;
  width: auto;
  height: auto;
  stroke: #2f2f51;
}

.splide__arrow:hover svg {
  stroke: #EF7F04;
}

.modal .modal-xl {
  max-width: 1000px;
}

.modal .btn-close {
  position: absolute;
  top: 33px;
  right: 31px;
}
/*# sourceMappingURL=main.css.map */